---
import StoreCard from "@components/Store/StoreCard.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";

interface Props {
	stores: CollectionEntry<"store">[];
	noTransitions?: boolean;
}

const { stores, noTransitions = false } = Astro.props as Props;

const sortedStores = stores.sort((a, b) => {
	if (a.data.order < b.data.order) {
		return -1;
	}
	if (a.data.order > b.data.order) {
		return 1;
	}
	return 0;
});
---

<div class="grid gap-x-4 gap-y-10 pt-8 md:grid-cols-3 md:pt-12">
	{sortedStores.map((store) => <StoreCard store={store} direction="vertical" />)}
</div>
