---
// layout
import StoreLayout from "@layouts/StoreLayout.astro";
import { type InferGetStaticPropsType } from "astro";
import { type CollectionEntry, getCollection, render } from "astro:content";

export async function getStaticPaths() {
	const stores = await getCollection("store", ({ data }) => {
		// filter out draft pages
		return data.draft !== false;
	});

	return stores.map((store) => ({
		params: { slug: store.id },
		props: store,
	}));
}
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const store = Astro.props as Props;
const { Content } = await render(store);
---

<StoreLayout store={store}>
	<Content />
	<div class="lg:text-lg"><br><p>If you are interested in purchasing a listed project, please contact us, or visit in store.</p></div>
</StoreLayout>
