/* buttons, 4 types "primary", "secondary", "outline", "ghost" */
.button {
	@apply font-heading-1 flex items-center justify-center rounded-none px-4 py-2 text-lg tracking-wide uppercase transition duration-200;
	@apply active:opacity-80;
	@apply disabled:pointer-events-none;
}

.button--primary {
	@apply bg-[#c6d0f8]/60 text-base-900;
	@apply hover:bg-[#c6d0f8]/40;
	@apply focus-visible:ring-[#273fa3]/80;
}

.button--secondary {
	@apply border-2;
	/* @apply hover:border-opacity-80; */
	@apply focus-visible:ring-[#273fa3];
}

.button--outline {
	@apply border-[#8694cf] text-base-900 border-2;
	@apply hover:border-[#8694cf]/80;
	@apply focus-visible:ring-[#8694cf];
}

.button--ghost {
	@apply text-base-800;
	@apply hover:opacity-80;
}
